// flex
@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flex-direction($value) {
	-webkit-flex-direction: $value;
			flex-direction: $value;
}

@mixin flex($values) {
	-webkit-box-flex: $values;
	-moz-box-flex:  $values;
	-webkit-flex:  $values;
	-ms-flex:  $values;
	flex:  $values;
}

@mixin order($val) {
	-webkit-box-ordinal-group: $val;  
	-moz-box-ordinal-group: $val;     
	-ms-flex-order: $val;     
	-webkit-order: $val;  
	order: $val;
}


// display: flex / inline-flex

// justify-content: flex-start / center / flex-end / space-between / space-around

// align-items: flex-start / center / flex-end / baseline / stretch 

// align-self: auto / flex-start / center / flex-end / baseline / stretch

// align-content: flex-start / center / flex-end / space-between / space-around /stretch

// order: number

// flex: none / flex-grow / flex-shrink / flex-basis

// flex-direction: row / row-reverse / column / column-reverse

// flex-wrap: nowrap / wrap / wrap-reverse






