%btn {
    margin-right: 10px;
    padding: 0 15px;
    display: inline-block;
    vertical-align: middle;
    height: $btn-height;
    line-height: $btn-height;
    color: $btn-text-color;
    border: 1px solid $btn-border-color;
    font-size: $btn-font-size;
    background-color: $btn-bg;
    text-decoration: none;
    @include box-shadow(0 1px 0 darken(#fff, 10%));
    @include border-radius(2px);
    @include user-select(none);

    &:hover,
    &:focus,
    &:active {
        border-color: darken($btn-border-color, 12%);
        background-color: $btn-bg-hover;
        @include transition(all .5 ease-in);
    }
}


.btn {
    @extend %btn;
}

@mixin btn-colorful($bgcolor) {
    @extend %btn;
    color: #fff;
    border-color: darken($bgcolor, 5%);
    background-color: $bgcolor; 

    &:hover,
    &:focus,
    &:active {
        border-color: darken($bgcolor, 12%);
        background-color: darken($bgcolor, 5%);
    }
}
