#flex-box {
	min-height: 500px;
	@include flex-direction(column);
	align-items: flex-start;
	background-color: #fff;

	@include respond(medium) {
		@include flexbox();
		@include flex-direction(row);
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}

#content {
	@include order(1);
	@extend %col-md;

	&.simple {

		@include respond(medium) {
			& { @include order(2); }
		}
	}

	&.full {
		width: 100%;
	}

	h3 { margin-bottom: 1.5em; }
}

#sidebar {
	@include order(2);
	@extend %col-xs;

	&.simple {

		@include respond(medium) {
			& { @include order(1); }
		}
	}
}