#flex-box {
	min-height: 500px;
	@include flex-direction(column);
	align-items: flex-start;
	background-color: #fff;

	@include respond(medium) {
		@include flexbox();
		@include flex-direction(row);
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	#content {
		@extend %col-md;
		h3 { margin-bottom: 1.5em; }

		&.status {
			width: 100%;
		}
	}

	#sidebar {
		@extend %col-xs;
	}

	&.left-sidebar {
		#content {
			@include respond(medium) {
				@include order(2);
			}
		}

		#sidebar {
			@include respond(medium) {
				@include order(1);
			}
		}
	}

	&.right-sidebar {
		#content {
			@include respond(medium) {
				@include order(1);
			}
		}

		#sidebar {
			@include respond(medium) {
				@include order(2);
			}
		}
	}
}

