.container {

	// small screen 5px padding 
	padding: 0 5px;
	width: 100%;

	#header & {
		padding: 0;
	}

	footer & {
		padding: 1.8em 10px;
		border-top: 1px solid $border-content;
	}

	.thumb-enable & {
		padding: 0 0 1.8em 0;
		border-top: none;
	}
	
	@extend %horizontal-center;

	@include respond (medium) {
		padding: 0;
		width: 90%;
	}

	@include respond (large) {
		padding: 0;
		width: 1080px;
	}
}

%col-xs {
	width: 100%;

	@include respond(medium) {
		width: 25%;
	}
}

%col-md {
	width: 100%;

	@include respond(medium) {
		width: 70%;
	}
	
}